<div class="block3">
    <div class="aligncenter">
        <form id="form_sub" action="comment.php" method="POST">
            <fieldset style="border-color: black;">
                <legend>Оставить комментарий</legend>
                <p>{{comment}}</p>
                <label for="name">Имя</label>
                <input name="name" style="margin-right: 125px;" id="name"><br>
                <label for="telephone">Телефон </label>
                <input name = "telephone"style="margin-right: 125px;" id="telephone"><br>
                <label for="email">Электронная почта</label>
                <input name = "email" style="margin-right: 125px;" id="email"><br>
                <label for="comments">Комментарий</label>
                <input name = "comments" style="margin-top: 20px; margin-right: 125px; width: 300px; height: 50px;"  id="comment"><br>
            </fieldset>
           <p><input type="submit" value="Оставить"></p>
        </form>
    </div>
</div>