{% extends 'baseTemplate.html' %}
{% block body %}
<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href="assets/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

        <title>
            Планета земля!
        </title>
        <meta charset="utf-8">
    </head>
    <body>

    <div class="tours-catalog">
        <h1>Индивидуальные туры</h1>
        <div class="tours-img">
            <div class="tours-border-img">
                <img src="./img/Gruziya.jpg" >
                <div class="tours-text-img">
                    <span>Винный тур в Тбилиси, Грузия</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        <a href="/gruziya.html">Подробнее</a>
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/italy.jpg" >
                <div class="tours-text-img">
                    <span>ааа</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/greece.jpg">
                <div class="tours-text-img">
                    <span>ааа</span> 
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/italy.jpg" >
                <div class="tours-text-img">
                    <span>ааа</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/italy.jpg" >
                <div class="tours-text-img">
                    <span>ааа</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/italy.jpg" >
                <div class="tours-text-img">
                    <span>ааа</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
            <div class="tours-border-img">
                <img src="./img/italy.jpg" >
                <div class="tours-text-img">
                    <span>ааа</span>
                </div>
                <form>
                    <button class="tours-c-button">
                        Подробнее
                    </button>
                </form>
            </div>
        </div>
    </div>
    

    </body>
</html>
{% endblock body %}
